body {
	background-color: black;
	text-align: center;
	margin-top: 120px;
}

.container{
	position: relative;
	}

.container img{
    text-align: center;
	width:100%;
	height: auto;
}

.center {
    position: absolute;
    top: 38%;
    width: 100%;
     }

.centerbtn { 
    position: absolute;
    width: 100%;}

h2{ color: white;}


