body {
	background-color: black;
	text-align: center;
	margin-top: 120px;
}

.container {
	position: relative;
	}

.container img {
   	width:100%;
	height: auto;
}

#mc_embed_signup {
    position: absolute;
    width:100%;
    top: 38%;
     }
.btn btn-primary btn-lg{
padding-left:28%;
}

h2{ color: white;}


